{{define "_nav"}}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 px-2 border-bottom text-bg-dark fixed-top">
  <p class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-body-muted pl-2">SISTEM PENGGAJIAN PAPERBAG</p>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Master
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Data Karyawan</a></li>
        <li><a class="dropdown-item" href="#">Data Level</a></li>
        <li><a class="dropdown-item" href="#">Data Regu</a></li>
        <!--<li><hr class="dropdown-divider"></li>-->
      </ul>
    </li>
  </ul>
</header>
{{end}}